/*
	Theme Name: SNE Nutrition
	Theme URI: http://snenutrition.com
	Author: Ansley Fones
	Author URI: http://ansleyfones.com
	Description: A Custom WordPress theme by Ansley Fones
	Version: 0.1.0
	Template: hayleyhobson-sne
	Bitbucket Theme https://bitbucket.org/ansleyf/hayleyhobson-sne
	Bitbucket Branch: master
*/

/* --- Fonts --- */
@import url("//hello.myfonts.net/count/2b5b5a");
@font-face {
	font-family: 'Quickpen';
	src: url('fonts/2B5B5A_0_0.eot');
	src: url('fonts/2B5B5A_0_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/2B5B5A_0_0.woff') format('woff'),
	url('fonts/2B5B5A_0_0.ttf') format('truetype');
}
.prox {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.quickpen { 
	font-family: Quickpen;
	font-weight: normal;
	font-style: normal;
}
.o-white {
	color: #f9f9f9;
}
.purple {
	color: #ba529f;
}
.green {
	color: #85d287;
}
.d-green {
	color: #5a8d5b;
}
.teal {
	color: #61a88b;
}
.orange {
	color: #f99e5f;
}
.dark {
	color: #333333;
}

/* --- Default Styles --- */
html {
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
body {
	background: #fff;
	font-family: 'proxima-nova', Lato, Arial, Helvetica, sans-serif;
	color: #333;
}
p, ol, ul {
	margin: 0;
	margin-bottom: 1.2em;
	font-size: 1.4rem; font-size: 14px;
}
img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}
img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* --- Custom Theme Styles --- */
body {
	color: #333333;
}
em {
	color: #444444;
}
a {
	color: #ba529f;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #ad4591;
	text-decoration: none;
}
a img:not(.logo):hover {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}
.uk-container {
	max-width: 1000px;
}
.fourohfour {
	font-size: 6.4rem; font-size: 64px;
	line-height: 64px;
}
.uk-article {
	margin-top: 15px;
}

/* --- NavBar --- */
nav.main {
	background-color: #ba529f;
}
nav.logged-in {
	background-color: #85d287;
}
.uk-navbar-nav li a {
	color: #f5f5f5;
	font-weight: bold;
	text-transform: uppercase;
	background: transparent;
}
.uk-dropdown-navbar {
	background: transparent;
	padding-top: 3px;
}
.uk-dropdown-navbar li:first-of-type {
	margin-top: 0px;
}
.uk-dropdown-navbar li {
	margin-top: 3px;
}
nav.main .uk-dropdown-navbar li a {
	background-color: #ba529f;
}
nav.logged-in .uk-dropdown-navbar li a {
	background-color: #85d287;
}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li.uk-active>a {
	color: #333333;
	background: transparent;
	cursor: pointer;
}
.uk-navbar-nav>li:hover>a,
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a {
	color: #333333;
	cursor: pointer;
}
.uk-navbar-toggle {
	color: #f5f5f5;
}

/* --- Header Styles --- */
header.normal .header-image {
	background-image: url('images/header-bg_normal.jpg');
	background-repeat: no-repeat no-repeat;
	background-position: center -30px;
	background-size: cover;
	height: 275px;
	padding-top: 15px;
}
header.large .header-image {
	background-image: url('images/header-bg_large.jpg');
	background-repeat: no-repeat no-repeat;
	background-position: center 10%;
	background-size: cover;
	padding-top: 15px;
}
header .header-image img.logo {
	max-width: 230px;
}
header.large .header-image h1 {
	font-family: Quickpen;
	color: #f9f9f9;
	text-align: center;
	margin-top: -10px;
}
header.large .header-image h1 span:first-of-type {
	margin-right: 245px;
}

/* --- Home Page Styles --- */
.home-page ul {
	list-style: none;
	padding-left: 0;
}
.home-page ul li:before {
	color: #85d287;
	content: '\2022';
	font-size: 20px;
	margin-right: 7px;
	position: relative;
	top: 2px;
}
.home-page a.cta {
	color: #ba529f;
	border: 2px solid #ba529f;
	margin: 15px 0;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.home-page a.cta:hover {
	color: #f5f5f5;
	background: #ba529f;
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}



/* --- Sidebar Menu --- */


/* --- Store --- */


/* --- Pagination --- */
.uk-pagination li a {

}
.uk-pagination li a:hover {

}

/* --- Footer --- */
footer {
	margin-top: 30px;
}
footer .ak {
	color: #fff;
	background-color: #85d287;
	font-weight: bold;
	text-transform: uppercase;
}
footer .ak div,
footer .ak a,
footer .ak a:hover {
	padding: 36px 0;
	color: #fff;
}

/* --- Responsive --- */
/* Desktop and bigger */
@media (min-width: 960px) {
	header.normal .header-image {
		height: 275px;
	}
	header.large .header-image {
		height: 87vmin;
	}
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {

}
/* Tablets portrait and smaller */
@media (max-width: 959px) {
	header.normal .header-image {
		height: auto;
	}
	header.large .header-image {
		height: auto;
	}
	header .header-image img.logo {
		max-width: 160px;
	}
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
	header.large .header-image h1 span:first-of-type {
		margin-right: 45px;
	}
}
/* Phone Portrait only */
@media (max-width: 480px) {
	header.large .header-image h1 span:first-of-type {
		display:block;
		width: 100%;
		margin-right: 0;
	}
}
